.wrap {
    display: flex;
    flex-direction: column;

    h2 {
        font-weight: 400;
        text-transform: uppercase;
    }

    .in-progress {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 1;
    }
}
